.header
    background: url(../img/header_bg.jpg) no-repeat
    min-height: 80vh
    &__container
        padding-top: rem(70px)
        display: flex
        justify-content: space-between
        align-items: center
    &__logo
        flex: 1 1 15%
    &__nav-wrap
        display: flex
        justify-content: space-evenly
        align-items: center
    &__nav
        flex: 1 1 55%
        display: flex
        justify-content: space-between
        align-items: center
    &__link
        margin-left: 20px
        color: #fff
        font-size: rem(16px)
        font-family: $font_default
        font-weight: regular
        
        &:hover
            color: $second_color
    &__btn
        text-decoration: none
        border: 1px solid #fff
        border-radius: rem(30px)
        padding: 16px 20px
        box-sizing: border-box
        color: #fff
        font-family: $font_default
        font-weight: semi-bold
        &:hover
            color: $second_color
            border-color: $second_color 

            

    
.link--reset
    text-decoration: none

